# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# EDITORS / IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# LOG FILES
# =========================
*.log
logs/

# =========================
# ENVIRONMENT FILES
# =========================
.env
.env.*
*.env

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/
.next/
out/
coverage/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.Python
venv/
env/
.venv/

# =========================
# DJANGO / FLASK
# =========================
instance/
*.sqlite3
db.sqlite3






# =========================
# BUILD FILES
# =========================
*.o
*.exe
*.dll
*.so

# =========================
# CACHE
# =========================
.cache/
*.cache

# =========================
# TEST / COVERAGE
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# MISC
# =========================
*.bak
*.tmp
*.temp

# Large ML files
*.edf
*.pt
*.pth
*.npy

data/
models/
test_set_gnn/